<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)=dismiss();>
        <ion-icon name="close" color="success"  slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ item.username }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="open(item)"><ion-icon name="videocam"></ion-icon></ion-button> 
      <ion-button (click)="call()"><ion-icon name="call"></ion-icon></ion-button> 
      <ion-button (click)="payWithPaypal()"><ion-icon name="cash"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>   
  <div id="paypal-button-container"></div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header class="ion-text-uppercase"><ion-note>{{item.title}}</ion-note></ion-card-header>
  <swiper [config]="{ slidesPerView: 1, loop: true, initialSlide: 1,autoplay: {delay:4000},
  pagination : {el: '.swiper-pagination',type: 'progressbar' ,clickable: true} }" 
  pager="true" mode="ios"  [navigation]="true"
  class="mySwiper2" (swiper)="thumbsSwiper = $event">
    <ng-template swiperSlide *ngFor="let slide of item.Image">
    <img src={{slide}} alt="{{item.title}}"  (error)="authservice.imgError($event)"/>
    </ng-template>
    
  </swiper>
  
  
  <div>
    <ion-chip>PRICE:</ion-chip> <ion-chip color="primary">{{item.price}}</ion-chip>
    <ion-chip>NEGOTIABLE:</ion-chip> <ion-chip color="primary">{{item.negotiable}}</ion-chip>
    <ion-chip>BEDS LEFT:</ion-chip> <ion-chip color="primary">{{item.beds}}</ion-chip>
    <ion-chip>WASHROOM:</ion-chip> <ion-chip color="primary">{{item.washroom?item.washroom:'No'}}</ion-chip>
    <ion-chip>WATER AVAILABLE:</ion-chip> <ion-chip color="primary">{{item.water?item.water:'No'}}</ion-chip>
    <ion-chip>KITCHEN AVAILABLE:</ion-chip> <ion-chip color="primary">{{item.kitchen?item.kitchen:'No'}}</ion-chip>
  
  </div>
 
  <ion-card-content>
    {{item.details}}
  </ion-card-content>
 

</ion-content>
