.image-upload img
{
    width: 80px;
    cursor: pointer;
}
.image-upload > input
{
    display: none;
}
.text_box {
    h3 {
        margin: 0;
        color: var(--primary);
        font-size: 0.94rem;
        font-weight: 400;
        padding-bottom: 10px;

        ion-icon {
            // display: block;
            float: left;
            background: var(--primary);
            color: var(--white);
            border-radius: 50%;
            min-width: 22px;
            text-align: center;
            height: 22px;
            line-height: 22px;
            margin-bottom: 15px;
        }

        span {
            float: left;
            display: block;
            margin-left: 10px;
        }

    }
}
.img_box {
    width: 100%;
    max-width: 155px;
    min-width: 155px;
    margin-right: 20px;
    height: 155px;
    border-radius: 4px;
    background: var(--bg-color);
    display: flex;
    align-items: center;

    img {
        height: 85px;
        margin: auto;
        display: block;
        width: auto;
    }

    
.img-bg {
    width: 110px;
    height: 110px;
}
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 25px 0 0 0;
    background: #291464;
}
.container {
    margin-top: 30px;
    max-width: 500px;
}
.progress {
    margin-bottom: 30px;
}
.fileupload {
    background-image: url("../../../assets/upload-icon.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: #ffffff;
    height: 200px;
    width: 100%;
    cursor: pointer;
    /* border: 2px dashed #0f68ff; */
    border-radius: 6px;
    margin-bottom: 25px;
    background-position: center 28px;
}
.ddinfo {
    display: block;
    text-align: center;
    padding-top: 130px;
    color: #a0a1a2;
}
.image-list {
    display: flex;
    width: 100%;
    background: #C2DFFC;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px 10px 10px 15px;
    margin-bottom: 10px;
}
.image-list p {
    line-height: normal;
    padding: 0;
    margin: 0 0 0 14px;
    display: inline-block;
    position: relative;
    top: -2px;
    color: #150938;
    font-size: 14px;
}
.message {
    text-align: center;
    color: #C2DFFC;
}
.remove {
    background: transparent;
    border: none;
    cursor: pointer;
}
.profile {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 4px;
    display: inline-block;
}
.profile img {
    width: 100%;
}
.remove img {
    width: 15px;
    position: relative;
    top: -2px;
}
.fileUploadWrapper .card-body {
    max-height: 330px;
    overflow: hidden;
    overflow-y: auto;
}
@media(max-width: 767px) {
    .container {
        width: 280px;
        margin: 20px auto 100px;
    }
}

ion-select{
    border: 2px faint black;
}