<ion-header>
  <ion-toolbar>
    <ion-item>
    <ion-title><ion-note>{{user['username']}}</ion-note></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-item>
     <ion-avatar>
       <img [src]="server+user['profilePic']">
     </ion-avatar>
    </ion-item>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="ion-text-center text-muted">
    <ion-spinner name ="crescent"></ion-spinner>
    </div>
  <div *ngIf="!loading && content.length === 0" class="ion-text-center text-muted">
   
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    No Rooms found
</div>

<ion-row  *ngIf="content.length > 0">
                
  <ion-searchbar [(ngModel)]="filterTerm" ></ion-searchbar>
     
   <ion-col offset="0" size-md="6" size-lg="5" size-xs="12" *ngFor="let a of content | filter:filterTerm">
       
           
           <ion-card>
             <div (click)="gotoEditPage(a)">
             <ion-card-header class="ion-text-uppercase">{{a.itemname}}</ion-card-header>
             <img src={{a.Image[0]}} alt="{{a.title}}" (error)="authservice.imgError($event)"/>
             <ion-card-title>{{a.title}}</ion-card-title>
             <p>Price: {{a.price}}</p> <p>Beds Left: {{a.beds}}</p>
             <p >Negotiable: {{a.negotiable}} </p>
            </div>
             <ion-item> 
              <ion-buttons slot="start">
           
                <ion-button color="medium" (click)="liked(a)">
                  <ion-icon slot="start" size="medium" *ngIf="!a.pinned" name= "heart-outline" color="danger"></ion-icon>
                  <ion-icon slot="start" size="medium" *ngIf="a.pinned" name= "heart" color="danger"></ion-icon>
                  
                  <small>{{a.likes.length}}</small>
                  
                </ion-button> 
                <ion-button (click)="call(a)"><ion-icon name="call"></ion-icon></ion-button> 
                <ion-button *ngIf="a.user != null && a.user.username != username" (click)="gotoMessage(a)"><ion-icon name="chatbox-outline"></ion-icon></ion-button>
                </ion-buttons>
             </ion-item>
           </ion-card>
       
   
         
       </ion-col>
       
    

</ion-row>
<ion-fab *ngIf="user['isVerified']==true && user['usertype'] != 'Student'" class="animate__animated animate__zoomInUp" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="add_room()">
      <span>+</span>
  </ion-fab-button>
</ion-fab>


</ion-content>
